[submodule "modal"]
	path = modal
	url = git://github.com/backbone-ui/modal.git
[submodule "alert"]
	path = alert
	url = git://github.com/backbone-ui/alert.git
[submodule "slideshow"]
	path = slideshow
	url = git://github.com/backbone-ui/slideshow.git
[submodule "anchor"]
	path = anchor
	url = git://github.com/backbone-ui/anchor.git
[submodule "sidenav"]
	path = sidenav
	url = git://github.com/backbone-ui/sidenav.git
[submodule "litenav"]
	path = litenav
	url = git://github.com/backbone-ui/litenav.git
[submodule "drawer"]
	path = drawer
	url = git://github.com/backbone-ui/drawer.git
